:root {
  --secondary: #DBDBDC;
  --text-primary: #FAFAFA;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
}

.card {
  background-color: #262626;
  border-radius: .75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.signupForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
}

.instructions {
  font-size: .75rem;
  margin: 0px;
}

label {
  font-size: .75rem;
  padding-bottom: 2px;
}

.textInput {
  background-color: #2D2D2D;
  border-radius: 1rem;
  border: 0px;
  width: 90%;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
  color: var(--text-primary);
}

.submit {
  background-color: var(--secondary);
  border-radius: 1rem;
  border: 0px;
  color: #0A0A0B;
  width: 100%;
  padding: .5rem;
}

.signIn {
  display: flex; 
  align-self: center;
  gap: 5px;
}

.signInButton {
  all: unset;
  background: linear-gradient(225deg, #3EDCFF 0%, #3E9AFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.checkbox {
  margin: 10px 0px;
  background-color: #0A0A0B;
  margin: 0px 5px 0px 0px;
}

.icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.link {
  background: linear-gradient(225deg, #3EDCFF 0%, #3E9AFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.checkboxContainer {
  display: flex; 
  flex-direction: row;
  align-items: center;
  font-size: .75rem;
}